.bottomPart {
    color: #757575;
    font-size: 20;
    text-align: center;
    padding-top: 20;
}

.topPart {
    background-color: #757575;
    padding-bottom: 20;
    margin-bottom: 10;
    font-size: 30;
    padding-top: 60;
    padding-bottom: 60;
    font-weight: bold;
    text-align: center;
    color: #F5F5F5;
}