<StackLayout class="noTopPadding">
    <GridLayout rows="auto, auto", columns="*, *" [class]="'streakContainer ' + colorClass">
        <label row="0" col="0" text="STREAK" className="streakTitle"></label>
        <label row="1" col="0" [text]="info.streak" className="streak"></label>
        <label row="0" col="1" text="BEST" className="streakTitle"></label>
        <label row="1" col="1" [text]="info.best" className="streak"></label>
    </GridLayout>

    <GridLayout rows="auto, auto, auto" columns="2*, *, 3*" class="infoContainer">
        <label row="0" col="0" text="VALUE:" className="title"></label>
        <label row="0" col="1" [text]="info.value" className="entry"></label>
        <label row="1" col="0" text="FACTOR:" className="title"></label>
        <label row="1" col="1" [text]="info.factor" className="entry"></label>
        <label row="2" col="0" text="SLACK:" className="title"></label>
        <label row="2" col="1" [text]="info.slack" className="entry"></label>

        <label row="0" col="3" rowSpan="3" [text]="message" [class]="colorClass + 'Text message'" textWrap="true"></label>
    </GridLayout>

    <GridLayout columns="*,auto,*, auto,*">
        <Button col="1" (onTap)="onEditTap()" text="OK" [class]="'button ' + colorClass"></Button>
        <Button col="3" (onTap)="onDeleteTap()" text="Delete" [class]="'button ' + colorClass"></Button>
    </GridLayout>
</StackLayout>