<StackLayout>
    <GridLayout id="modalForeground" class="modal" (onTap)="onModalTap()" visibility="collapsed">
        <StackLayout *ngIf="modalTypeObject.type === 'newPurchase'">
            <new-purchase-modal></new-purchase-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'aboutPurchase'">
            <about-purchase-modal></about-purchase-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'deletion'">
            <deletion-modal></deletion-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'editPurchase'">
            <edit-purchase-modal></edit-purchase-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'alert'">
            <alert-modal></alert-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'habbajetInfo'">
            <habbajet-info-modal></habbajet-info-modal>
        </StackLayout>
    </GridLayout>
</StackLayout>