<StackLayout>
    <GridLayout id="modalForeground" class="modal" (onTap)="onModalTap()" visibility="collapsed">
        <StackLayout *ngIf="modalTypeObject.type === 'newPurchase'">
            <new-purchase-modal></new-purchase-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'aboutPurchase'">
            <about-purchase-modal></about-purchase-modal>
        </StackLayout>
        <StackLayout *ngIf="modalTypeObject.type === 'deletePurchase'">
            <delete-purchase-modal></delete-purchase-modal>
        </StackLayout>
    </GridLayout>
</StackLayout>