.infoContainer {
    margin-left: 15;
    margin-right: 15;
    font-size: 25;
}

.expectedPayoutTitle {
    font-weight: bold;
    vertical-align: center;
}

#expectedPayout {
    font-weight: bold;
    text-align: right;
    padding-right: 10;
    vertical-align: center;
}

.info {
    text-align: center;
    font-weight: bold;
}