<StackLayout>
        <StackLayout class="topPart">
                <money-display></money-display>
                <new-purchase></new-purchase>
        </StackLayout>
        <ListView [items]="purchases">
                <ng-template let-purchase="item">
                        <old-purchase [row]="purchase"></old-purchase>
                </ng-template>
        </ListView>
        <StackLayout *ngIf="purchases.length === 0">
                <label text="No purchases yet" class="noPurchases"></label>
        </StackLayout>
</StackLayout>