.currentDay {
    font-size: 30;
    font-weight: bold;
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 0;
    padding-bottom: 0;
}

.checkbox {
    margin: 5;
    text-align: center;
    vertical-align: center;
}

.active {
    background-color: #acacac;
}

.inactive {
    background-color: #ffffff;
}

.checkboxGrid {
    margin-left: 10;
    margin-right: 10;
}