label {
    color: #000000;
}

.currentDay {
    font-size: 30;
    margin: 10;
}

.checkbox {
    height: 40;
    background-color: #acacac;
    margin: 5;
    text-align: center;
    vertical-align: center;
}

.selected {
    background-color: #000000;
}

.checkboxGrid {
    margin: 10;
}