.green {
    background-color: #09790e;
}

.red {
    background-color: #db4848;
}

.blue {
    background-color: #364cb1;
}

.yellow {
    background-color: #7a8517;
}

.pink {
    background-color: #c921c0;
}

.grey {
    background-color: #363636;
}

.teal { 
    background-color: #1e6776;
}

.purple { 
    background-color: #7a54c9;
}

.orange { 
    background-color: #bb771a;
}

.brown { 
    background-color: #623e16;
}

.dark {
    background-color: #757575;
}

.light {
    background-color: #F5F5F5;
}

.greenText {
    color: #09790e;
}

.redText {
    color: #db4848;
}

.blueText {
    color: #364cb1;
}

.yellowText {
    color: #7a8517;
}

.pinkText {
    color: #c921c0;
}

.greyText {
    color: #363636;
}

.tealText { 
    color: #1e6776;
}

.purpleText { 
    color: #7a54c9;
}

.orangeText { 
    color: #bb771a;
}

.brownText { 
    color: #623e16;
}

.darkText {
    color: #757575;
}

.lightText {
    color: #F5F5F5;
}