<StackLayout>
    <StackLayout class="topPart">
        <label [text]="name" class="habbajetName"></label>
        <habbajet-image [habbajetIndex]="habbajetIndex"></habbajet-image>
        <habbajet-info [habbajetIndex]="habbajetIndex"></habbajet-info>
    </StackLayout>
    <StackLayout class="bottomPart">
        <habbajet-checkbox [habbajetIndex]="habbajetIndex"></habbajet-checkbox>
        <habbajet-buttons [habbajetIndex]="habbajetIndex"></habbajet-buttons>
    </StackLayout>
</StackLayout>