GridLayout {
    margin-left: 15;
    margin-right: 15;
    padding: 5;
}

.oldPurchaseTitle {
    color: #757575;
    font-size: 25;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0;
}

.oldPurchaseCost {
    color: #757575;
    font-size: 30;
    text-align: right;
    vertical-align: center;
    font-weight: bold;
}

.oldPurchaseDate {
    color: #db4848;
    font-size: 15;
    text-align: left;
    padding-top: 0;
}
